.App {
  text-align: center;
  background-color: #ddd;
  width: 100vw;
  height: 100vh;
  color: #585858;
}

h1 {
  animation-duration: 2s;
  animation-name: fadeIn;
  animation-iteration-count: infinite;
}

/* Animation */

@keyframes fadeIn {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
